# Ignore Mac system files 
.DS_Store

# Ignore Python cache files
__pycache__/
*.__pycache__

# Ignore VS Code settings
.vscode/
tempCodeRunnerFile.py
tempCodeRunnerFile.python

# Ignore Test related files 
*.egg-info/
.pytest_cache/

# Ignore models
model/Human-GEM.xml
model/Fruitfly-GEM.xml
model/Zebrafish-GEM.xml
model/Mouse-GEM.xml
model/yeast-GEM.xml 
model/iML1515.xml 
model/Recon3D.xml
model/Recon3D_301.mat
model/vibrio_natriegens.json 
model/ENGRO2.xml
model/ENGRO2-v2.xml
model/mitocore_v2.xml
model/Human-GEM_v2.xml
model/mcc101.xml

# Ignore personal files
scripts/run_wildkcat_perso.py

# 
output/logs
results
warnings
in_progress
*.ipynb
.env

# Ignore documentation build files
site 

# Ignore article folder for the moment 
article
